<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Your Skills</title>
</head>
<body>
    <header>
        <p>TRACK YOUR SKILLS</p>
    </header>
    <h1>Select skill to see details, click on trash can to delete.</h2>
    <ul>
        <% skills.forEach(function(skill, idx) { %>
            <li>
                <form action="/skills/<%= idx %>?_method=DELETE" method="POST">
                  <a href="/skills/<%= idx %>">
                    <%= skill.text %>
                    -
                    <%= skill.acquired ? 'acquired' : 'still working on it' %>
                  </a>
                    <button type="submit">🗑</button>
                </form>
            </li>
       <% }) %>
    </ul>
    <form action="/skills/new">
        <input type="submit" value="Create a new skill" />
    </form> 
    <form action="/">
        <input type="submit" value="Home" />
    </form>
</body>
</html>